.bg {
  background-color: darkorange;
}
.logo {
  margin-left: 15%;
}
header {
  background-image: url(../images/headbg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50%;
}
.headertext{
  font-size: 18px;
  padding-top: 2%;
  color: rgb(151, 151, 151);
}
.title {
  font-size: 50px;
  color: white;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
}
.redtitle {
  font-size: 50px;
  color: #ed322d;
  font-family: 'Roboto', sans-serif;
}
.darktitle {
  font-size: 50px;
  color: rgb(63, 62, 62);
  font-family: 'Roboto', sans-serif;
}
.scroll{
  margin-top: 60%;
  width: 50px;
}
main {
  background-color: white;
}
button {
  color: red;
}
.rightside {
  padding: 0px 50px 50px 50px;
}
.leftsidebg{
  background-image: url(../images/chart.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.leftsidetext{
  width: 40%;
  color: #7e7e7e;
  position: relative;
  left: 44%;
  top: 18%;
}
.leftsidetext > h5{
  color: #383838;
}
.quisqueline {
  width: 2.1875rem;
  height: 0.125rem;
  display: block;
  background: #d3d3d3;
}
.midline{
  width: 2.1875rem;
  height: 0.125rem;
  display: block;
  background: #d3d3d3 !important;
  position: unset;
  margin: 0 auto;
}
.processtext > p{
  color: #a4a4a4;
  font-family: 'Roboto', sans-serif;
}
.circlegroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.circlered {
  background-color: #f1757b;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 4000;
  position: relative;
  left: 4%;
  opacity: 0.9;
}

.innerred {
  position: relative;
  top: 50%;
  text-align: center;
  line-height: 0px;
  color: white;
}
.circlegreen {
  background-color: #77cfc7;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 3000;
  position: relative;
  left: 3%;
  opacity: 0.7;
}

.innergreen {
  position: relative;
  top: 50%;
  text-align: center;
  line-height: 0px;
  color: white;
}
.circleblue {
  background-color: #6dd5ed;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 2000;
  position: relative;
  left: 2%;
  opacity: 0.7;
}

.innerblue {
  position: relative;
  top: 50%;
  text-align: center;
  line-height: 0px;
  color: white;
}
.circlegolden {
  background-color: #f6ce42;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: 1000;
  position: relative;
  left: 1%;
  opacity: 0.7;
}

.innergolden {
  position: relative;
  top: 50%;
  text-align: center;
  line-height: 0px;
  color: white;
}
.circletext {
  margin-right: 15px;
  margin-left: 15px;
}
.service {
  background-image: url(../images/bgservices.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-bottom: 10%;
  padding-top: 5%;
}
.titleservice {
  font-size: 50px;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
}
.servicetext {
  color: #b7b7b7;
}
.serviceheader {
  min-height: 150px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.servicecontainer {
  color: white;
  margin-top: 5%;
  margin-bottom: 7%;
}
.fontlight {
  background-color: #802c64;
  font-size: 40px;
  padding-top: 4%;
}
.purplelight {
  background-color: #7a225d;
}
.fontpurple {
  background-color: #500c50;
  font-size: 40px;
  padding-top: 4%;
}
.purple {
  background-color: #480048;
}
.fontdark {
  background-color: #3a0c3a;
  font-size: 40px;
  padding-top: 4%;
}
.purpledark {
  background-color: #300030;
}
.fontlight > a{
  color: #98407a;
}
.fontpurple > a{
  color: #662652;
}
.fontdark > a{
  color: #5d1747;
}
section {
  background-image: url(../images/footerbg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
}
form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
form > input {
  border: none !important;
  border-bottom: 1px solid #080707 !important;
  padding: 10px 0 10px 0 !important;
}
form > button {
  background-color: white;
  border: 1px solid black;
  width: 80%;
  font-size: 20px;
  color: black;
  margin-top: 20%;
}
.footerbg {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 60% !important;
  min-height: 80%;
  border-bottom: 1px solid #dfdfdf !important;
}
.footerlogo{
  position: relative;
    bottom: 90%;
}
.footerwidth{
  max-width: 20%;
  margin: 0 auto !important;
}
.socialicons{
  justify-content: space-around;
}
.socialicons > a{
  color: #8a8a8a;
  height: 40px;
  width: 40px;
  font-size: 25px;
  border: 1px solid #8a8a8a;
  margin-top: 25%;
  margin-bottom: 15%;
}
.address{
  color: #969696;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
}
.designer{
  color: #969696;
  margin-top: 15%;
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
}
.designer > span a{
  color: #e87c7c;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
a.nav-link{
  color: white !important;
  margin-left: 5px !important;
}
a.nav-link:hover{
  color:red !important;
}

@media (max-width: 768px){
  .footerwidth{
    max-width: 100%;
  }
  .leftsidebg{
    padding: 20%;
  }  
  .footerbg{
  min-width: 90%;
  }
  .circlered{
    height: 130px;
    width: 130px;
  }
  .circlegreen{
    height: 225px;
    width: 240px;
  }
  .circleblue{
    height: 220px;
    width: 220px;
  }
  .circlegolden{
    height: 130px;
    width: 130px;
  }
  .leftsidetext{
    position: relative;
    left: 40%;
    top: -56%;
  }
  .logofooter{
    position: relative;
    bottom: 70%;
  }
  .scroll{
    margin-top: 120%;
  }
}
@media (max-width: 575px ){
  .circlered{
    height: 150px;
    width: 150px;
    position: relative;
    top: 20px;
  }
  .circlegreen{
    position: relative;
    height: 225px;
    width: 225px;
  }
  .circleblue{
    position: relative;
    bottom: 20px;
    height: 250px;
    width: 250px;
  }
  .circlegolden{
    position: relative;
    bottom: 40px;
    height: 150px;
    width: 150px;
  }
  .circlegroup{
    flex-direction: column;
  }
  .footerlogo{
    position: relative;
    bottom: 60%;
    width: 100px;
  }
  .leftsidetext{
    width: 100%;
    color: #373636;
    position: relative;
    left: 24%;
    top: -5%;
    padding: 10%;
  }
}